# Python
__pycache__/
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl
*.pyc
*.pth
*.output*.so

# Data
!**/alpaca-data-conversation.json
*/data
# Editor
.idea
*.swp
*/dataset
# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
